module = wsgi:application
wsgi-file = wsgi.py
home = {{ app_uwsgi_plugin_python_venv_path }}
mount = /={{ app_uwsgi_mount_point }}
manage-script-name = true
{% if app_uwsgi_pyargv %}
pyargv = "{{ app_uwsgi_pyargv }}"
{% endif %}